@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #10131a;
  color: #e1e2eb;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.glass-card {
  background: rgba(29, 32, 38, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
